<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

<div class="container">
    <h1> Comment </h1>
    <style>
        .cyan-back {
            background-color: cyan;
        }
        .space {
            margin-top: 5px;
        }
    </style>

    {{ form.errors }}

    <form action="/comment/" method="post" novalidate>
        {% csrf_token %}
        <div class="row">
            <div class="col-md-4">
                <label for="id_email">Email:</label>
                {{ form.email }}
            </div>
            <div class="col-md-4">
                <label for="id_comment">Comment:</label>                
                {{ form.comment }}
            </div>
        </div>
        <div class="space">
            <input type="submit" value="Submit" class="btn btn-info"/>
        </div>
    </form>

    <a href="/"> go home </a>
</div>