<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

<div class="container">
	<h1> Home </h1>

	{% if all_comments %}
		<p> Recent comments: </p>
		<ul>
			{% for comment in all_comments %}
				<li>{{ comment.comment }} <small> - by {{ comment.email }} </small></li>
			{% endfor %}
		</ul>
	{% endif %}

	<a href="/comment"> new comment </a>
</div>